<link rel="stylesheet" href="css/login.css">

<form action="/buffer" method="post">
    <input type="text" name="username" id="1" placeholder="usename"> <br>
    <input type="text" name="password" id="2" placeholder="password"> <br>
    <button type="submit">try</button> <br>
    <p id="textFail"></p>
</form>