<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
</head>
<body>
    <h1>Búa til aðgang!</h1>

    <form action="/" method="post">
        <input type="text" name="username" id="1" placeholder="usename"><br>
        <input type="text" name="password" id="2" placeholder="password"><br>
        <input type="file" name="profpic" id="profpic"><br>
        <button type="submit">kommon</button>
        
        <p id="regFail"></p>
    </form>
    

</body>
</html>