body {
    background-color: #F9F6EE;
    text-align: center;
}

.userInfo {
    font-size: 30px;
}

#pfp {
    width: 70px;
    height: 70px;
    border: #000;
    border-style: outset;
    border-width: 5px;
}